@model WebShop.Models.CartItem

@{
    ViewData["Title"] = "Редагувати";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal price = Model.Product.Price;
}

<h1>Редагувати</h1>

<h4>@Model.Product.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="@Model.Product.Image" alt="." class="card-img label-img" />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="ProductId" />
            <br />
            <div class="form-group">
                <label asp-for="Quantity" class="control-label" style="font-weight: bold"></label>
                <input asp-for="Quantity" class="form-control" asp-items="@Model.Quantity" type="number" min="1" id="quantity" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <dl class="row">
                <dt class="col-sm-4">
                    Вартість
                </dt>
                <dd class="col-sm-8" id="amount">
                    @(price * Model.Quantity)
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Змінити кількість" class="btn btn-primary" />
            </div>
        </form>
        <br />
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися у кошик</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(() => {
            console.log("ready");
            $('#quantity').change((event) => {


                $('#amount').text(parseFloat($(event.target).val() * @price).toFixed(2).replace('.',','));
            });
        });
    </script>
    }
